<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
</div>

<div class="row marketing">
  <h4>What?</h4>
  <p>
    Celebrating your birthday in a town or country that you weren't born in? Now you can know exactly the right time to celebrate your exact time of birth in the new place. 
  </p>

  <h4>Lame</h4>
  <p>
    Shh! I'm learning how to build stuff in AngularJS.
  </p>

  <h4>Source</h4>
  <p>The source is at https://github.com/azharb/Birthday</p>
</div>
